body{
  word-wrap:break-word;
}
img{
  height: 200px;
}
.wrapper{
  display: flex;
}
#sidebar{
  width: 20%;
}

.cardWrapper{
  display: flex;

}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
#btns{
  margin-left: 55%;
}